:root {
    --primary-text-color:#212121;
    --p-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --bgc-color:#F5F5F5;
    --silver-bgc:#F5F4FA;
}

/* body */
body {
    background-color:var(--primary-white-color);
    color:#212121 ;
    font-family: Roboto, sans-serif;
}
/* Utility */
ul {
    list-style: none;
}

.text {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03rem;
    color: #757575;
}

.title {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* containers */
.container {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
width: 1200px;

}
 /* outline: 2px solid tomato; */
/* header */
.main-nav {
    display: flex;
    align-items: center;
}
 .header-logo {
    color: #000000;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    text-decoration: none;
}

/* site nav */


.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02rem;
    text-decoration: none;
    padding: 32px 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* auth nav */
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    display: block;
    color: var(--p-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02rem;
    text-decoration: none;
    padding: 32px 0;
}




.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196F3;
}

.header-studio,
.header-port{
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
}

.web {
    color: var(--accent-color);
}
.studio {
    color: var(--primary-white-color);
}

.header-logo:focus {
    color:#2196F3 ;
}

/* цвет фона  #F5F5F5 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* основ цвет текста #212121 */
/* цвет лого #000000 и #2196F3 */
/* hooter bgc #2F303A */
/* hooter text #FFFFFF */
/* command bgc #F5F4FA  */
/* footer bgc #2F303A */
/* цвет абзацов #757575 */



/* hero */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: #2F303A;
}
.hero-title {
    width: 696px;
    margin: auto;
    margin-bottom: 30px;
    color:var(--primary-white-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    
}

/* button */
.button {
    
    gap: 8px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}



.btn{
    display: inline-block;
    min-width: 216px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: Roboto;
     font-weight: 700;
     font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
.port-btn{
    display: inline-block;
    margin: 0;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color:var(--silver-bgc);
    font-family: Roboto;
    font-weight: 500;
     font-size: 16px;
     line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
    border: #EEEEEE;
}
.port-btn:hover,
.port-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* bgc color section */
.port-bgc.section-dev {
    background-color:var(--bgc-color);
}
.port-bgc {
    padding: 94px 0;
       
}
.header-port .header-studio{
    background-color: var(--primary-white-color);
}
/* container dev */
.container .title {
    display: flex;

}
.title .features {
 width: 270px;
 margin-right: 30px;
}
.features:last-child {
    margin-right: 0px;
}

 .device {
    display: flex;
    margin:auto;
    padding: 0px;
    gap: 30px;

}
.title-device{
    
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03rem;
}
.title-human {
    margin-bottom: 50px ;
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03rem;
}
.section-hum .human {
    display: flex;
    text-align: center;
    margin: 0;
    gap: 30px;
   
}
.section-hum{
    padding-top: 94px;
    padding-bottom: 94px;
}
.human .text {
    text-align: center;
    padding-bottom: 30px;
}
.section-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
    padding-top: 30px;
}
/* text h2 h3 p */
.section-hum {
    background-color:#F5F4FA;
}
.human-li {
    background-color: #FFFFFF;
    border-radius: 4px;
   
}

.section-dev .section {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03rem;
    
}
.section-dev {
    padding: 94px 0;
}
.section-dev .container{
    padding-bottom: 0px;
}

.section-work .title {
    margin-bottom: 50px;

}
.port-title{
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height:2;
        letter-spacing: 0.06rem;
        color: #212121;
}
.port-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03rem;
        color: var(--p-text-color);
}
/* footer styles */
.link-tel, .link-mail{
        font-family: 'Roboto';
        font-style:normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03rem;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
/* container foto */
.container .foto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.foto {
    padding: 0px;
    margin: 0px;
}

.foto .card {
    margin: 0;
    
    padding-left: 0px;
}

.title-text {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-top: 0px;
     border: 1px solid #eeeeee;
}
footer{
    background-color: #2F303A;
    
}
.footer {
padding: 60px 0px;
}
.link-map{
        font-style:normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03rem;
        color: #FFFFFF;
        text-decoration: none;
}
.link-tel:hover,
.link-mail:hover,
.link-map:hover{
    color: var(--accent-color);
}
.link-foter {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03rem;
    color: #2196F3;
    text-decoration: none;
    padding-left: 0px;
    margin-bottom: 20px;
}
.web-studio {
    padding: 0;
    margin-bottom: 20px;
}

.address-list {
    padding: 0;
    margin: 0;

}
.address-list li:not(:last-child){

    margin-bottom: 9px;
}
.address {
    padding: 0;
}